################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SqlWhereToJS/obj/Debug/SqlWhereToJS.csprojAssemblyReference.cache
